parameters:
	level: 5
	paths:
		- Classes
		- Tests
	excludePaths:
		# This file fails mysteriously in github action
		# All methods from parent Assert are reported as missing
		- Tests/Functional/Command/CreateSnapshotCommandTest.php
	treatPhpDocTypesAsCertain: false
	scanDirectories:
		- .build/vendor/
